<div class="container-md" id="ac-form-container">
    
    <form action="/character/<%=character.id %>/update/ac" method="POST"
        class="form" id="ac-form">
        <div class="mb-3 ">
            <label for="ac" class="form-label">Armor Class</label>
            <input type="number" step='1' name="ac"class="">
            <button class="btn btn-primary">Update Armor Class
            </Button>
        </div>
    </form>
</div>