<form action="/character/<%= character.id %>/update/conditions/<%= room.id %>" method="POST">
    <div>
        <select id="conditions" name="condition">
            <% console.log(allConditions.results) %>
            <% for (let c of allConditions.results) { %>
             <option value="<%= c.index %>"><%= c.index %></option>       
           <% } %>
            </select>
    </div>
    <button class='btn btn-primary'type="submit">Add condition</button>
</form>