<div class="container-md" id="max-hp-form-container">
    
    <form action="/character/<%=character.id %>/update/hp" method="POST"
        class="form" id="max-hp-form">
        <div class="mb-3 ">
            <label for="max_hp" class="form-label">Max HP</label>
            <input type="integer" name="max_hp"class="">
            <button class="btn btn-primary">Update Max HP
            </Button>
        </div>
    </form>

</div>




