<div class="container-md border">
    <form action="/character/<%=character.id %>/add/resistance" method="POST">
        <label for="resistances">Add Resistance</label>
    <input type="text" name="resistances">
    <button>Add resistance
    </Button>
    
    </form>

</div>
