<form action="" method="POST">
    <div>
        
        <input list="user-characters" name="condition">
        <datalist id="user-characters">
            <% console.log(myCharacters.results) %>
            <% for (let myChar of myCharacters) { %>
             <option value="<%= myChar.name %>"></option>       
           <% } %>
        </datalist>
    </div>
    <button type="submit">Add Character</button>
</form>