<form action="/room/<%= room.id %>/add_character" method="POST">
    <div>
        <select id="user-characters" name="my_character">
            <% console.log(myCharacters.results) %>
            <% for (let myChar of myCharacters) { %>
             <option value="<%= myChar.id %>"><%= myChar.name %> </option>       
           <% } %>
        </select>
    </div>
    <button class="btn btn-primary"type="submit">Add Character</button>
</form>