
<%- include('../partials/head') %>
<%- include('../partials/loggedInNavbar') %>


<div class="container">
  <!-- <% if (messages) { %>
    <%= messages.info %>
  <% } %> -->
  <h1>Hi <%= name %></h1>
<a href="/user/characters">Characters</a>
<a href="/user/rooms">Rooms</a>

</div>

