
<%- include('../partials/head') %>
<%- include('../partials/loggedInNavbar') %>


<div class="container">
  <!-- <% if (messages) { %>
    <%= messages.info %>
  <% } %> -->
  <h1>Hi <%= name %></h1>
  <div class="container-fluid" style="height: 60px; width:200px;">
    
    <a class="btn btn-secondary" id="create-character-btn"style='height:100%; width:100%'href="/user/characters">Create A Character</a>
  </div>

  <div class="container-fluid" style="height: 60px; width:200px;">
    
    <a class="btn btn-primary" style="height:100%; width:100%;"href="/user/rooms">Create or Join a Room</a>
  </div>




</div>

