<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<!-- TODO: Add capslock on -->

<div class="container">
    <h1 class="3 mb-3 font-weight-normal">Login</h1>
    <div class="container" id="messages-container">
        <% if (messages) { %>
            <div class="message"><%= messages.error %></div>
        <% } %>
    </div>


<div class="container-md ">
    <form action="/login" method="POST">
        <div>
            <label for="email" class="sr-only">email</label>
            <input type="email" id="email" name="email"required class="form-control">
        </div>
        <div>
            <label for="password">password</label>
            <input class="form-control"type="password" id="password" name="password"required>
        </div>
    
        <button class="btn btn-primary"type="submit">Login</button>
    
    </form>
    <a href="/register">Don't have an account? Sign Up</a>

</div>



</div>
