<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container">
  <h1>Register</h1>
  <div class="container" id="messages-container">
    <% if (messages) { %>
      <div class="message msg-danger"><%= messages.info %></div>
    <% } %>

  </div>

<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input class="form-control"type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="confirm">Confirm Password</label>
    <input class="form-control" type="password" id="confirm" name="confirm" required>
  </div>
  <button class="btn btn-primary py-2"type="submit">Register</button>
</form>
<a href="/login">Already have an account?</a>
  
</div>
