<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<h1>Rooms</h1>
<% if (messages) { %>
    <%= messages.error %>
<% } %>
<!-- <h2>Join Room</h2>
<form action="/rooms" method="POST">
    <div>
        <label for="room-id">Join with Room ID</label>
        <input type="text" id="room-id" name="room-id"required>
    </div>

    <button type="submit">Join Room</button>

</form> -->
<h2>Create Room</h2>
<form action="rooms/create" method="POST">
    <div>
        <label for="name">Room Name</label>
        <input type="text" id="name" name="name"required>
    </div>

    <button type="submit">Join Room</button>

</form>
<a href="/user">Home</a>