<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<h1>Room Id:<%= room.id %> </h1>
<h2>NEW ROOM: <%= room.name %></h2>

<a href="/user/characters">Characters</a>
<a href="/user/rooms">Rooms</a>